.nested-img img {
    width: unset;
}

.next-prev-post-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.next-post {
    width: 40%;
}

.prev-post {
    width: 40%;
    text-align: right;
}

.next-post a {
    border-bottom-style: dotted;
}

.prev-post a {
    border-bottom-style: dotted;
}

// keep footer stuck to bottom
html, body {
    height: 100%;
}

// keep footer stuck to bottom
body > footer {
    position: sticky;
    top: 100vh;
}
