<div class="{{ $.Param "secondary_bg_color_class" | default "bg-light-gray" }} pa3 nested-list-reset nested-copy-line-height nested-links">
  <p class="f5 b mb3">{{ i18n "related" }}</p>

  {{ with $relatedCharacters := .Param "dnd/ref/characters" }}
    <ul class="pa0 list">
    {{ range $relChar := $relatedCharacters }}
      {{ $charPages := where site.Pages "Title" "eq" $relChar }}
  
      {{ $aboutPage := index ( where $charPages "Section" "eq" "dnd" ) 0 }}
      {{ $relatedPage := index ( where $charPages "Section" "eq" "dnd/ref/characters" ) 0 }}
  
      <li class="mb2">
          {{ if $aboutPage }}
          <a href={{ $aboutPage.RelPermalink }}>{{ $relChar }}</a> |
          {{ else }}
          {{ $relChar }} |
          {{ end }}
          <a href={{ $relatedPage.RelPermalink }}>Related Posts</a>
      </li>
  
    {{ end }}
  {{ end }}
  
  {{ with $relatedLocations := .Param "dnd/ref/locations" }}
    {{ range $relLoc := $relatedLocations }}
      {{ $locPages := where site.Pages "Title" "eq" $relLoc }}
  
      {{ $aboutPage := index ( where $locPages "Section" "eq" "dnd" ) 0 }}
      {{ $relatedPage := index ( where $locPages "Section" "eq" "dnd/ref/locations" ) 0 }}
  
      <li class="mb2">
          {{ if $aboutPage }}
          <a href={{ $aboutPage.RelPermalink }}>{{ $relLoc }}</a> |
          {{ else }}
          {{ $relLoc}} |
          {{ end }}
          <a href={{ $relatedPage.RelPermalink }}>Related Posts</a>
      </li>
  
    {{ end }}
    </ul>
  {{ end }}

</div>
