<div class="next-prev-post-nav">
    <div class="next-post">
        {{ if .NextPage }}
        {{ if eq .NextPage.Section .Page.Section }}
        <a class="link black dim" href="{{ .NextPage.URL }}?ref=footer">
            « {{ .NextPage.Title | truncate 50 "..." }}</a>
        {{ end }}
        {{ end }}
    </div>
    <div class="prev-post">
        {{ if .PrevPage }}
        {{ if eq .PrevPage.Section .Page.Section }}
        <a class="link black dim" href="{{ .PrevPage.URL }}?ref=footer">
            {{ .PrevPage.Title | truncate 50 "..."}} »</a>
        {{ end }}
        {{ end }}
    </div>
</div>
