<div class="next-prev-post-nav">

    {{- $dirPages := where .Site.Pages "File.Dir" .Page.File.Dir }}

    {{- $curPos := 0 }}
    {{- $idx := 0 }}

    {{- range $dirPages }}
    {{- if eq $ . }}
    {{- $curPos = $idx }}
    {{- end }}
    {{- $idx = add $idx 1}}
    {{- end }}

    {{- $nextIdx := sub $curPos 1 }}
    {{- $prevIdx := add $curPos 1 }}
    {{- $next := index $dirPages $nextIdx }}
    {{- $prev := index $dirPages $prevIdx }}

    <div class="next-post">
        {{- with $next }}
        <a class='link {{ $.Param "secondary_font_color_class" | default "black" }} dim'
            href="{{ $next.RelPermalink }}">
            « {{ $next.Title | truncate 50 "..." }}</a>
        {{ end }}
    </div>

    <div class="prev-post">
        {{- with $prev }}
        <a class='link {{ $.Param "secondary_font_color_class" | default "black" }} dim'
            href="{{ $prev.RelPermalink }}">
            {{ $prev.Title | truncate 50 "..."}} »</a>
        {{ end }}
    </div>
</div>
